.footer {
    background-color: $theme-primary;
    background-image: url(/images/backgrounds/background-clouds.jpg);
    background-position: top;
    background-size: cover;
    color: #fff;
    font-weight: 300;
}
.footer a { color: #fff; }

.footer .card { background: none; border: none; }

.footer .card-title,
.footer .footer-top .footer-top-second {
    color: $footer-font-secondary;
    font-size: 20px;
    font-weight: 400;
}

.footer .card-title { border-bottom: 1px solid $footer-font-secondary; padding-bottom: 5px; }
.footer .card-body { padding: 0; }

.footer .footer-top .list-group-item { background: none; border: none; }

.footer .footer-top .footer-top-first { padding-top: 50px; padding-bottom: 30px; }

.footer .footer-top .fa {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.footer .footer-top hr { border-top: 1px solid $footer-font-secondary; margin-top: 10px; margin-bottom: 10px; }

.footer .footer-top .footer-top-second { padding-bottom: 40px; }

.footer .footer-bottom { background-color: $theme-primary-dark; }